@import '../../../styles/common.less';
@import '../../../styles/theme.less';

.frse {
  &-nav {
    width: 100%;
    height: inherit;
    position: fixed;
    top: 0;
    &-items{
      height: inherit;
      display: flex;
    }
    &-item {
      width: auto;
      height: auto;
      font-size: 2rem;
      padding: 0.25rem 0;
      margin: 0 2rem;
      color: var(--primary-color);
    }
  }
}
