.frse {
  &-portfolio {
    min-height: inherit;
    max-width: 75rem;
    margin: 0 auto;

    &-presentation {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 16rem;

      >h1{
        text-align: center;
      }
    }
  }
}
