@import '../../../styles/common.less';
@import '../../../styles/theme.less';

.frse{
    &-header{
        height: @usability-width-md;
        background-color: var(--bg-color);
        border-bottom: 1px solid var(--primary-color);
        display: flex;
        align-items: center;
    }
}