//TODO: Export locally cause if no connection, build error because font is not found
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

//Main Styling
html {
  min-height: 100vh;
}
body {
  min-height: inherit;
  margin: 2.5rem 0 0 0;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
  margin: 0;
}

#__next{
  min-height: inherit;
}
