@import '../../../styles/theme.less';
@import '../../../styles/common.less';

@theme-changer-size: 8rem;
@theme-changer-icon-size: 5.125rem;

.frse {
  &-theme-changer.frse-switch {
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    .frse-icon {
      //Sizes
      width: @usability-width-md;
      height: @usability-height-md;
      //Position
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      //Theming
      background-color: var(--light);
      box-shadow: 0 0 1rem #2020203d;
      //Styling
      border-radius: 2.125rem;

      > svg {
        height: inherit;
        align-items: center;
        font-size: 1.4rem;
      }
    }
  }
}

//Light Theme
:root[data-theme='light'] {
  .frse-theme-changer .frse-icon {
    transition: background-color 2s;
    -webkit-transition: background-color 2s;
    background-color: var(--dark);
    path {
      fill: var(--light);
      transition: 2s fill;
      -webkit-transition: 2s fill;
    }
  }
}

//Dark Theme
:root[data-theme='dark'] {
  .frse-theme-changer .frse-icon {
    transform: translateX(1.5rem);
    transition: background-color 2s ;
    -webkit-transition: background-color 2s;
    background-color: var(--light);
    path {
      fill: var(--dark);
      transition: 2s fill;
      -webkit-transition: 2s fill;
    }
  }
}
