@theme-changer-size: 128px;
@theme-changer-position: 0px;
@theme-changer-icon-size: 82px;
//
// TODO: extract Button overwriting styles in FrseButton Component
//
.frse {
  &-theme-changer {
    position: absolute;
    top: @theme-changer-position;
    right: @theme-changer-position;
    width: @theme-changer-size;
    height: @theme-changer-size;
    border-color: transparent;
    outline-style: none;
    > svg {
      font-size: @theme-changer-icon-size;
    }
  }
  &-theme-changer:hover {
    border-color: transparent;
  }
  &-theme-changer:focus {
    border-color: transparent;
  }
}
